
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Yeseva+One&display=swap');

:root{
    --color0: #282727;
    --color1: #7e50f2;
    --color2: #ebe9ed;
    --color3: #99df4e;
    --color4: #F1FAEE;
}
*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    font-family: Oswald;
    background: var(--color0);
}
.pag{
    position: relative;
    height: 100%;
}

.p1{
    background: linear-gradient(-45deg, #4e2795, #a53ce7, #23a6d5, #f28d4e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.p2{
    background: rgb(37, 37, 37);
    height: fit-content;
    margin-top: 3rem;
}

/*-------NAV--------*/
nav{
    position: fixed; 
    height: 3.75rem;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 400;
    font-stretch: expanded;
    background: var(--color0);
    padding-top: 1.875rem;
    z-index: 5000;
    letter-spacing: 0.25rem;
}
nav li{
    display: inline-block;
    margin: 0 1.25rem;
    color: var(--color1);
    font-weight: 700;
    font-size: 1.2rem;
}
nav li:hover{
    color: var(--color2);
}
/*----HTML---*/
.contenidor{
    margin-left: 25%;
    margin-right: 25%;
}
.cont{
    width: 18.75rem;
    height: 18.75rem;
    background: var(--color2);
    border-radius: 0.9rem;
    margin: 1rem;
    box-shadow: 0.625rem 0.625rem 0 0 rgb(0, 0, 0);
    float: left;
    text-align: center;
    transition: 0.2s;
}
.cont li{
    font-size: 30pt;
    margin: 0 1.25rem;
    color: var(--color1);
    text-decoration: none;
    display: block;
}
.cont svg{
    width: 8rem;
    height: 8rem;
    align-items: center;
    border-radius: 0.9rem;
    fill: #7e50f2;
}
.cont:hover{
    transform: translateY(-0.75rem) translateX(-0.25rem);
}
button {
    background-color: var(--color2);
    color: var(--color0);
    border-radius: 10rem;
    font-size: 17px;
    font-weight: 600;
    margin: 5px 90px;
    padding: 0.5em 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }

  button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 0.125rem 0.313rem 0 0 black;
    background: var(--color1)
  }
  
  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}
a{
    text-decoration: none;
    color: #161515;
}
/*-------FINESTRA--------*/

.finestra{
    height: 60%;
    width: 75%;
    background: #7e50f2;
    position: relative;
    top:15rem;
    left: 12%;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1rem 4rem, rgb(51, 51, 51) 0px 0px 0px 0.3rem;
}
.f1{
    height: 90%;
    width: 98%;
    background: #ffffff;
    position: relative;
    top: 8.4%;
    left: 1%;
    border-radius: 1rem;
}
.f2{
    z-index: 300;
    position: relative;
    top: -7.75rem;
    float: right;
}
.f2 svg{
    width: 2rem;
    height: 2rem;
    margin: 0 -0.5rem;
    fill: #9571f1;
}
.f3{
    width: 90%;
    height: 4rem;
    border-radius: 3rem 3rem 3rem 3rem;
    background: #f6f3f3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    position: relative;
    top: 16.25rem;
    left: 5%;
}
/*--TYPERWRITTER--*/
h1 {
    font-size: 2.75rem;
    color: var(--color1);
    text-align: left;
    font-family: Poppins;
    font-weight: 700;
    margin: 1rem 0 1rem 2rem;
    z-index: 2000;
    position: relative;
    top: 40rem;
    left: 20%;
}
@keyframes typing {
    0%, 27% { content: ""; }
    1%, 26% { content: "b"; }
    2%, 25% { content: "be"; }
    3%, 23% { content: "ben"; }
    4%, 22% { content: "benv"; }
    5%, 21% { content: "benvi"; }
    6%, 20% { content: "benvin"; }
    7%, 19% { content: "benving"; }
    9%, 18% { content: "benvingu"; }
    10%, 17% { content: "benvingut";}
    11%, 16%{ content: "benvinguts"}
    12%, 15%{ content: "benvinguts!"}
  
    30%, 51% { content: ""; }
    31%, 50% { content: "2"; }
    33%, 49% { content: "20"; }
    34%, 47% { content: "202"; }
    35%, 46% { content: "2024"; }
  
    54%, 75% { content: ""; }
    55%, 74% { content: "2"; }
    56%, 72% { content: "20"; }
    58%, 71% { content: "202"; }
    59%, 70% { content: "2025"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
/*-------CONTACTE--------*/
.c2{
    height: 70%;
    width: 70%;
    background: var(--color1);
    border-radius: 20px;
    box-shadow: 0.625rem 0.625rem 0 0 rgb(0, 0, 0);
    float: left;
    position: relative;
    left: 10%;
    margin: 3rem 0;
    
}
.c1, .c2{
    padding: 20px;
}
.c2 img{
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    float: left;
}
.name{
    color: var(--color2);
    font-size: 7rem;
    font-weight: 300;
}
li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 0 50%;
    text-align: center;
}
/*----XARXES----*/
svg{
    width: 4rem;
    fill: var(--color2);
    padding: 1rem;
}
svg:hover{
    fill: #571fff;
}

/*-----------ANIMACIONS-----------*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*-----RESPONSIVE-----*/

/*--ORDINADOR-- */
@media screen and (min-width: 1280px){

}
/*--SMARTPHONE-- */
@media screen and (max-width: 480px){
    nav{
        position: fixed; 
        height: 2.1rem;
        text-align: center;
        font-size: 0.85rem;
        font-weight: 400;
        padding-top: 1rem;
        letter-spacing: 0.1rem;
    }
    nav li{
        font-size: 1rem;
    }
    .finestra{
        height: 50%;
        width: 75%;
        top:15rem;
        left: 12%;
    }
    .f1{
        height: 89%;
        width: 93%;
        top: 8.4%;
        left: 3.5%;
    }
    .f2{
        z-index: 300;
        top: -5;
        float: right;
    }
    .f2 svg{
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 -0.5rem;
    }
    .f3{
        width: 16rem;
        height: 2rem;
        top: 9.6rem;
        left: 1rem;
    }
    h1 {
        font-size: 1.25rem;
        color: var(--color1);
        font-weight: 700;
        top: 30rem;
        left: 4rem;
      }
    .contenidor{
        margin-left: 5%;
        margin-right: 5%;
    }
    .cont{
        width: 18.75rem;
        height: 18.75rem;
        border-radius: 0.9rem;
        margin: 0.9rem;
        display: block;
        text-align: center;
    }
    /*--FOOTER--*/
    .c2{
        display: block;
        height: 30rem;
    }
    .c2 img{
        height: 15rem;
        width: 15rem;
        margin: 1.5rem;
    }
    .name{
        font-size: 4rem;
        margin: 0 auto;
        text-align: center;
    }
    svg{
        width: 2rem;
        margin: 0 0rem;
    }
}
  

